.container {
   width: 797px;
}

.offersTotalCount {
   padding-bottom: 16px;
   color: #212121;
   //styleName: Semibold 16;
   font-family: Poppins;
   font-size: 16px;
   font-weight: 600;
   line-height: 16px;
   letter-spacing: -0.05em;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
}
.offersList {
   padding-top: 16px;
   padding-bottom: 24px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
