.container {
   max-width: 877px;
   margin: 0 auto;
   background-color: var(--Gray-lightest);
   padding: 24px;
   // @media only screen and (max-width: 768px) {
   //    padding: 0 8px;
   // }
}

.inputWrapper {
   width: 100%;
   display: flex;
   gap: 12px;
   margin-bottom: 24px;
   
   > * {
      flex: 1;
   }
}

